{
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "jquery": true
  },
  "extends": [
    "airbnb",
    "plugin:jsx-a11y/recommended"
  ],
  "plugins": [
    "jsx-a11y",
    "html",
    "markdown"
  ],
  "rules": {
    "no-console": 0,
    "no-unused-vars": 1,
    "comma-dangle": 1,
    "jsx-a11y/rule-name": 2
  }
}
